* {
    margin: 0;
    padding: 0;
}


/* global styles */

a {
    text-decoration: none !important;
    color: #000 !important;
    font-size: 20px;

}

span {
    white-space: pre-line;
}

p {
    font-size: 18px;
    color: #3C3C59;
    line-height: 36px;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 60px;
    white-space: pre-line;
}


h1,
h2,
h3 {
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif !important;
}

h2 {
    color: #3C3C59 !important;
    font-size: 48px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

button {
    text-transform: uppercase !important;
    border: none;
}




.about-custom,
.clinics-custom,
.blog-custom,
.offers-custom,
.client-custom,
.download-custom {
    padding: 100px 0px;
}








/* header section starts here */

#header-section {
    padding: 20px;
    background-color: #F8F8F8;
}

#header-section .container {
    padding: 0;
}


#header-section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
}

.menu {
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu li {
    margin-right: 20px;
    padding-right: 20px;

    border-right: 1px solid #000;
}




.logo img {
    width: 60%;
    background-color: transparent;
}


.navbar-collapse {
    flex-grow: 0 !important;
}


/* banner section starts here */
#banner-section {
    height: 100vh;
    background: url("./images/clinics-bg.png");
    background-size: cover;
    background-position: top;
}

#banner-section .row {
    height: 80vh;
}





.banner-description {
    padding-top: 60px;
}

.banner-description h2 {
    color: #fff;
    font-size: 48px !important;
    text-transform: capitalize !important;
}



.banner-btns img {
    width: 47%;
}

.banner-btns :nth-child(1) {
    margin-top: 20px;
}

/* banner section ends here */

#about-clinics-section {
    background-color: #F8F8F8;
    z-index: 1;
}




.about-image-container img {
    width: 85%;
}

.about-right-container {
    padding-top: 70px;
}




.about-description h2 {
    color: #3C3C59;
    font-size: 48px;
}


.about-description P {
    font-size: 18px;
    color: #3C3C59;
    margin-bottom: 60px;
}




.about-btn button {
    padding: 11px 80px;
    border-top-right-radius: 40px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 22px;
    background-color: #7ABAFD;
    color: #F8F8F8;
    font-weight: bold;
}




/* clinic section starts here */


#clinics-list-section {
    background-color: #F8F8F8;
}

.list-card {
    background-color: #D9EBFF;
    border-radius: 40px;
}


.list-card-image img {
    width: 100%;
}


.card-content {
    padding: 20px 20px 30px;
}


.clinics-list-row {
    flex-wrap: nowrap !important;
}


.card-content p {
    font-weight: bold;
    font-size: 24px;
}

.list-description-row {
    margin-bottom: 40px;
}

.clinics-list-row {
    gap: 20px;
}

.hr-seprator {
    height: 4px;
    background: linear-gradient(to bottom, #7ABAFD 0%, #7AFDED 42%, #E3FD7A 100%);
}


/* clinics section ends here */


/* blog section stats here */

#blog-section {
    background-color: #D9EBFF;
}

.blog-card {
    background-color: #fff;
}


.blog-description-row {
    margin-bottom: 40px !important;
}

.blog-badge {
    background-color: #7ABAFD !important;
}

/* blog section ends here */


/* offer section starts here */


#offers-section {
    background-color: #F8F8F8;
}

.offer-image {
    height: 90vh;
    background: url("./images/offers-image.png");
    background-position: top;
    background-size: cover;
}

.offer-btn button {
    background-color: #fff;
    color: #7ABAFD;
    border: 0;
}

.offer-content {
    padding: 128px 55px 30px;
}

.offer-content h2 {
    color: #fff !important;
}

.offer-content p {
    color: #fff;
}

/* offers section ends here */

/* Client section starts here */

#client-section {
    background: url("./images/clients-bg-image.png");
}

.client-content {
    text-align: center;
}

.client-content img {
    margin-bottom: 30px;
}

.client-content h2 {
    text-transform: capitalize !important;
}


.client-decorations {
    padding-top: 40px;
}

.client-decorations img {
    margin-left: 20px;
}


/* Client section ends here */


/* download section starts here */


#download-section {
    background-color: #F8F8F8;
}

.download-btns img {
    width: 70%;
}

/* download secton ends here */
















/* -------------------Tablet responsiveness starts here ------------*/



@media (min-width:768px) and (max-width:992px) {

    /* banner section responsiveness starts here */

    p {
        font-size: 18px !important;
        line-height: 1.2;
    }

    h2 {
        font-size: 35px !important;
        margin-bottom: 30px !important;
    }

    .about-custom,
    .clinics-custom,
    .blog-custom,
    .offers-custom,
    .client-custom,
    .download-custom {
        padding: 60px 0px 30px;
    }

    /* header responsiveness */

    .navbar-collapse {
        padding-top: 20px;
    }

    /* banner section responsiveness */

    #banner-section {
        height: auto !important;
        background-position: 70%;
    }

    .banner-description h2 {
        font-size: 25px !important;
    }


    .banner-btns img {
        width: 49%;
    }

    .about-image-container img {
        width: 100%;
    }

    .about-description-container {
        text-align: center;
    }

    .about-btn {
        text-align: center;
    }

    .about-btn button {
        padding: 21px 100px;
        font-size: 30px;
    }


    /* clinics responsiveness starts here */


    .clinics-list-row {
        flex-direction: column;
    }


    .list-description-row {
        text-align: center;
    }

    .clinics-list-row {
        gap: 60px;
    }


    /* blog section responsiveness */

    .blog-cards-row {
        gap: 60px;
    }



    .blog-description-row {
        text-align: center;
    }

    .blog-cards-row {
        text-align: center;
    }

    .card-content :nth-child(1) {
        font-size: 25px;
    }

    .card-content :nth-child(3) {
        font-size: 30px;
    }

    /* .offer-image {
        background-size: contain;
        background-repeat: no-repeat;                                                                       
    } */

    .offer-content {
        padding: 0;
    }

    .clinics-list-row {
        text-align: center;
    }


    .about-btn button {
        padding: 11px 20px;
        font-size: 20px;
    }
    /* offer section responsiveness */
    
    .offer-content-row {
        padding-top: 20px;
    }

    .offer-content h2 {
        font-size: 36px !important;
    }

    .offer-content p {
        margin-top: 20px;
        font-size: 15px !important;
        line-height: 1.5;
    }

    .offer-btn {
        text-align: left;
    }


    .client-content p {
        margin-bottom: 20px !important;
    }


}



@media (max-width:767px) {


    p {
        font-size: 14px !important;
        line-height: 1.3;
    }

    h2 {
        font-size: 30px !important;
        margin-bottom: 20px !important;
    }

    .logo {
        width: 80%;
    }



    .about-custom,
    .clinics-custom,
    .blog-custom,
    .offers-custom,
    .client-custom,
    .download-custom {
        padding: 40px 0px 30px;
    }








    /* banner section responsiveness */

    #banner-section {
        height: 70%;
        background-position: 70%;
    }

    #banner-section .row {
        height: 67vh;
    }



    .banner-description {
        padding-top: 20px;
    }

    .banner-description h2 {
        font-size: 21px !important;
    }

    .banner-btns img {
        width: 60%;
    }



    .menu {
        width: 100%;
        flex-direction: column;
        padding: 0;
        padding-top: 10px;
    }

    .menu li {
        margin-right: 0px;
        padding-right: 0px;
        width: 100%;
        padding: 10px 0px;
        border: 0px;
        border-bottom: 1px solid #000;
    }

    .navbar-collapse {
        width: 100%;
    }

    /* about section respponsiveness */

    .about-right-container {
        text-align: center;
    }

    .about-image-container img {
        width: 100%;
    }

    .about-description-container {
        text-align: center;
    }

    .about-description P {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .about-btn button {
        padding: 6px 80px;
    }

    /* clinics list section responsiveness */

    .list-description-row {
        text-align: center;
    }

    .clinics-list-row {
        flex-direction: column;
        text-align: center;
    }

    .card-content {
        padding: 20px 20px 10px;
    }


    .clinics-list-row {
        gap: 40px;
    }


    /* blog section responsiveness */

    .blog-cards-row {
        gap: 40px;
    }



    .blog-description-row {
        text-align: center;
    }

    .blog-cards-row {
        text-align: center;
    }

    /* offer section responsiveness */

    .offer-content {
        padding: 30px 0px;
    }

    .offer-content h2 {
        font-size: 30px !important;
    }

    .offer-content .offer-btn button {
        font-size: 15px;
        padding: 11px 20px;
    }

    /* .offer-image-row {
        height: 40vh;
    } */


    .offer-image {
        height: 80vh;
    }

    .offer-content-row {
        padding-left: 40px;
        height: 80vh;
        align-items: center;
        justify-content: center;
    }


    .client-content img {
        width: 40%;
    }

    .client-decorations img {
        width: 25%;
    }

    .download-btns img {
        width: 40%;
    }

}


@media (min-width:992px) and (max-width:1440px) {
    .banner-description {
        padding-top: 167px;
    }
}