* {
    margin: 0;
    padding: 0;
}


/* global styles */

a {
    text-decoration: none !important;
    color: #000 !important;
    font-size: 20px;

}

p {
    font-size: 18px;
    color: #3C3C59;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

button {
    text-transform: uppercase !important;
}

/* header section starts here */

#header-section {
    padding: 20px;
    background-color: #F8F8F8;
}


#header-section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
}

.menu {
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu li {
    margin-right: 20px;
    padding-right: 20px;

    border-right: 1px solid #000;
}




.logo img {
    width: 60%;
    background-color: transparent;
}


.navbar-collapse {
    flex-grow: 0 !important;
}


/* banner section starts here */
#banner-section {
    background: url("./images/clinics-bg.png");
    background-size: cover;
    background-position: top;
}



#banner-section .container {
    padding: 120px 0px 50px 0px;
}


.banner-description {
    padding-top: 60px;
}

.banner-description h1 {
    color: #fff;
    font-size: 40px;
}



.banner-btns img {
    width: 47%;
}

.banner-btns :nth-child(1) {
    margin-top: 20px;
}

/* banner section ends here */

#about-section {
    background-color: #F8F8F8;
    z-index: 1;
}


#about-section .container {
    padding: 120px 0px 50px 0px;
}

.about-row {
    /* gap: 40px; */
}


.about-image-container img {
    width: 85%;
}

.about-right-container {
    padding-top: 70px;
}

.left-image {
    z-index: 4;
    position: relative;
}

.left-image-bg {
    z-index: 2;
    position: relative;
    bottom: 38%;
    left: 13%;

}


.about-description h1 {
    color: #3C3C59;
    font-size: 48px;
}


.about-description P {
    font-size: 18px;
    color: #3C3C59;
    margin-bottom: 60px;
}




.about-btn button {
    padding: 11px 80px;
    border-top-right-radius: 40px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 22px;
    background-color: #7ABAFD;
    color: #F8F8F8;
    font-weight: bold;
}