* {
    margin: 0;
    padding: 0;
}


/* global styles */

a {
    text-decoration: none !important;
    color: #000 !important;
    font-size: 20px;

}

p {
    font-size: 18px;
    color: #3C3C59;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
    white-space: pre-line;
}


h1,
h2,
h3 {
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #3C3C59 !important;
    font-size: 48px !important;
    font-weight: bold !important;
}

.container {
    padding: 120px 0px 50px 0px;
}

button {
    text-transform: uppercase !important;
}

/* header section starts here */

#header-section {
    padding: 20px;
    background-color: #F8F8F8;
}

#header-section .container {
    padding: 0;
}


#header-section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
}

.menu {
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu li {
    margin-right: 20px;
    padding-right: 20px;

    border-right: 1px solid #000;
}




.logo img {
    width: 60%;
    background-color: transparent;
}


.navbar-collapse {
    flex-grow: 0 !important;
}


/* banner section starts here */
#banner-section {
    background: url("./images/clinics-bg.png");
    background-size: cover;
    background-position: top;
}



#banner-section .container {
    padding: 120px 0px 50px 0px;
}


.banner-description {
    padding-top: 60px;
}

.banner-description h2 {
    color: #fff;
    font-size: 48px;
}



.banner-btns img {
    width: 47%;
}

.banner-btns :nth-child(1) {
    margin-top: 20px;
}

/* banner section ends here */

#about-section {
    background-color: #F8F8F8;
    z-index: 1;
}


#about-section .container {
    padding: 120px 0px 50px 0px;
}



.about-image-container img {
    width: 85%;
}

.about-right-container {
    padding-top: 70px;
}




.about-description h2 {
    color: #3C3C59;
    font-size: 48px;
}


.about-description P {
    font-size: 18px;
    color: #3C3C59;
    margin-bottom: 60px;
}




.about-btn button {
    padding: 11px 80px;
    border-top-right-radius: 40px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 22px;
    background-color: #7ABAFD;
    color: #F8F8F8;
    font-weight: bold;
}




/* clinic section starts here */


#clinics-list-section {
    background-color: #F8F8F8;
}

.list-card {
    background-color: #D9EBFF;
    border-radius: 40px;
}


.list-card-image img {
    width: 100%;
}


.card-content {
    padding: 20px 20px 30px;
}


.clinics-list-row {
    flex-wrap: nowrap !important;
}


.card-content p {
    font-weight: bold;
    font-size: 24px;
}

.list-description-row {
    margin-bottom: 40px;
}

.clinics-list-row {
    gap: 20px;
}

.hr-seprator {
    height: 4px;
    background: linear-gradient(to bottom, #7ABAFD 0%, #7AFDED 42%, #E3FD7A 100%);
}


/* clinics section ends here */


/* blog section stats here */

#blog-section {
    background-color: #D9EBFF;
}

.blog-card {
    background-color: #fff;
}


.blog-description-row {
    margin-bottom: 40px !important;
}

.blog-badge {
    background-color: #7ABAFD !important;
}

/* blog section ends here */


/* offer section starts here */

.offer-image {
    height: 90vh;
    background: url("./images/offers-image.png");
    background-position: top;
    background-size: cover;
}

.offer-btn button {
    background-color: #fff;
    color: #7ABAFD;
}

.offer-content {
    padding: 128px 55px 30px;
}

.offer-content h2 {
    color: #fff !important;
    text-transform: capitalize;
}

.offer-content p {
    color: #fff;
}

/* offers section ends here */